<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online_College_Magzine</display-name>
  <welcome-file-list>
    <welcome-file>head.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PostArticle</display-name>
    <servlet-name>PostArticle</servlet-name>
    <servlet-class>com.ocm.controllers.PostArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostArticle</servlet-name>
    <url-pattern>/post_articles_db</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.ocm.controllers.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticles</display-name>
    <servlet-name>UpdateArticles</servlet-name>
    <servlet-class>com.ocm.controllers.UpdateArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticles</servlet-name>
    <url-pattern>/UpdateArticles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateModProfile</display-name>
    <servlet-name>UpdateModProfile</servlet-name>
    <servlet-class>com.ocm.controllers.UpdateModProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModProfile</servlet-name>
    <url-pattern>/UpdateModProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticles1</display-name>
    <servlet-name>UpdateArticles1</servlet-name>
    <servlet-class>com.ocm.controllers.UpdateArticles1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticles1</servlet-name>
    <url-pattern>/UpdateArticles1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostArticle1</display-name>
    <servlet-name>PostArticle1</servlet-name>
    <servlet-class>com.ocm.controllers.PostArticle1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostArticle1</servlet-name>
    <url-pattern>/PostArticle1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateModArticles</display-name>
    <servlet-name>UpdateModArticles</servlet-name>
    <servlet-class>com.ocm.controllers.UpdateModArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModArticles</servlet-name>
    <url-pattern>/UpdateModArticles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateModArticles1</display-name>
    <servlet-name>UpdateModArticles1</servlet-name>
    <servlet-class>com.ocm.controllers.UpdateModArticles1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModArticles1</servlet-name>
    <url-pattern>/UpdateModArticles1</url-pattern>
  </servlet-mapping>
</web-app>